body, header {
	min-width:300px;
}

/* ~Tablet Portrait */
@media only screen and (max-width : 800px) {
	/* GENERAL */

	/* CLASSES */
		.half {
			width:100%;
		}
		.mobile {
			display:initial;
		}

	/* HEADER */
		header .logged-in {
			display:none;
		}
		header .container>.right {
			width:auto;
		}
		
	/* MAIN */
		/* CREATE */
			#create .logo {
				float:left;
				padding:20px 0;
				margin:0;
			}
			#create .details {
				float:left;
				width:77%;
			}
			#create .name {
				padding:10px 0;
				top:0;
				width:100%;
			}
			#create select, #create input {
				font-size:12px;
			}

		/* EDIT */
			#edit .colors button {
				display:none;
			}
			#edit .colors {
				width:27px;
			}
			#edit .colors ul {
				margin-left:0;
				padding-left:0;
			}
			#edit .colors .label {
				width:0px;
			}
			#edit .template, #edit .variations, #edit .template.wide, #edit .variations.wide {
				width:83%;
			}

		/* HOME */
			#home .user .content>div {
				float:none;
				width:90%
			}
			#home .user form {
				width:73%;
				float:none;
				margin:0 auto;
			}

	/* FOOTER */
}

/* ~Phone */
@media only screen and (max-width : 450px) {
	/* GENERAL */

	/* CLASSES */

	/* HEADER */

	/* MAIN */
		/* CREATE */
			#create .details {
				margin: 0 0 0 10px;
			}
			#create label {
				display:block;
				width:100%;
				text-align:center;
				font-weight:bold;
				margin-bottom:10px;
			}
			#create select {
				font-size:16px;
				width:100%;
				display:block;
				margin-bottom: 10px;
			}
			#create input {
				font-size: 16px;
				width: 92%;
				display:block;
			}

		/* EDIT */
			#edit .colors {
				width:100%;
			}
			#edit .colors ul {
				float:none;
				width:100%;
				box-shadow:none;
				border:0;
			}
			#edit .colors ul li {
				display:inline-block;
			}
			#edit .colors .current {
				padding:0 3px 0 0;
				margin:0 -6px 0 0;
				border:0;
				border-right: 1px solid #cdcdcd;
			}
			#edit .variations, #edit .template, #edit .variations.wide, #edit .template.wide {
				width:100%;
			}
			#edit .template {
				height: auto;
				margin: 20px 0;
			}

		/* HOME */
			#home .news .content {
				padding:15px;
			}

		/* TOOLTIP */
			tooltip {
				display:none;
			}


	/* FOOTER */
}