/* COLORS
 Lighter Grey - #ededed
 Light Grey - #cdcdcd
 Dark Grey - #444

 Orange - #ea541e

 Blue - #485BE7

/* GENERAL */
	*{
		margin:0;
		padding:0;
		transition: .3s opacity;
	}
	body{
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		margin-top:45px;
	}
	svg {
		width:100%;
		height:100%;
	}

	h1 {
		font-size: 28px;
		color: #444;
		font-weight: normal;
	}
	h2{
		font-size:24px;
		color: #444;
		font-weight: normal;
	}
	h3{
		font-size:20px;
		color: #444;
		font-weight: normal;
	}
	h4{
		font-weight:bold;
		font-size:16px;
		color: #444;
	}
	a {
		color: #485BE7;
		text-decoration: none;
		cursor:pointer;
	}
	button {
		cursor:pointer;
	}
	input[type="text"], input[type="password"], input[type="email"] {
		background:#fff;
		border: 1px solid #cdcdcd;
		padding: 10px;
		font-size: 16px;
		color :#444;
		border-radius: 5px;
	}
	input[type="submit"] {
		cursor: pointer;
	}
	ul:not(.unstyled) {
		margin: 10px 0 10px 30px;
	}
	table{
		border-collapse: collapse;
	}
	th, td {
		padding: 10px;
	}
	tr {
		border-bottom: 1px solid #cdcdcd;
		transition: .3s background;
	}
	tbody tr:hover {
		background: #f1f1f1;
	}
	select {
		padding:7px;
		border-radius:5px;
		border: 1px solid #cdcdcd;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
	}
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], textarea {
		background:#fff;
		border: 1px solid #cdcdcd;
		padding: 10px;
		font-size: 16px;
		color :#444;
		border-radius: 5px;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
	}

/* CLASSES */
	.clearfix {
		display:block;
		clear:both;
	}

	.button {
		padding: 10px;
		border: 0;
		border-radius: 10px;
		background:#485BE7;
		color:#fff;
		font-weight:bold;
		display:block;
		transition: .3s border-radius;
	}
	.button.action {
		background: #ea541e;
		font-size: 18px;
	}
	.button:hover {
		border-radius: 0;
	}
	.left {
		display:block;
		float: left;
	}
	.right {
		display:block;
		float: right;
	}
	.ng-hide {
		display:block!important;
		position:absolute!important;
		height:0px!important;
		padding:0px!important;
		overflow:hidden;
		opacity:0;
		pointer-events: none;
	}
	.error {
		padding: 10px;
		margin: 10px auto;
		color: #fff;
		font-weight: bold;
		background: #D70000;
		border-radius: 10px;
	}
	.success {
		padding: 10px;
		margin: 10px auto;
		color: #fff;
		font-weight: bold;
		background: #00D70B;
		border-radius: 10px;
	}
	input.ng-invalid.ng-dirty {
		box-shadow: 0px 0px 7px 0px #ff0000
	}
	.small {
		font-size: 70%;
	}
	.sorted {
		position:relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	.sorted:after {
		content:">";
		display:inline-block;
		margin-left:5px;
		position:absolute;
		right: 0px;
		transition: .3s transform;
	}
	.sorted.ascending:after {
		transform: rotate(-90deg);
	}
	.sorted.descending:after {
		transform: rotate(90deg);
	}

/* HEADER */
	header {
		text-align:left;
		position:absolute;
		width: 100%;
		top:0;
		left:0;
		background:#cdcdcd;
		box-shadow: 0px 0px 10px 3px #000;
		padding: 5px 0;
		z-index:1;
	}

	header h1 {
		display:block;
		float: left;
	}

	header .container {
		max-width: 1300px;
		width: 90%;
		margin: 0 auto;
		padding: 0 5%;
	}

	header .container>.right {
		width: 200px;
	}

	header .logged-in {
		display: inline-block;
		padding: 6px 13px;
		float: left;
	}

	header .button {
		margin: 0 20px;
	}

/* MAIN */
	main {
		max-width: 1300px;
		width: 90%;
		margin: 0 auto;
		padding: 15px 5%;
	}

	/* Home Page */
		#home {
			width: 100%;
			padding: 0;
			max-width: 100%;
		}
		#home>div {
			width: 100%;
			border-bottom: 1px solid #cdcdcd;
			position:relative;
		}
		#home>div>.content {
			width: 90%;
			max-width: 1300px;
			padding: 15px 5%;
			margin: 0 auto;
			position:relative;
		}
		#home .landing {
			background: #444 url(../img/bg-rev.jpg) no-repeat center;
			background-size: cover;
		}
		#home .create {
			width: 90%;
			max-width: 400px;
			margin: 90px auto;
			padding: 3%;
			background: rgba(0,0,0,.5);
			border-radius: 15px;
		}
		#home .create .button {
			margin: 10px auto;
			font-size: 20px;
			text-align:center;
			margin: 20px auto 10px;
		}
		#home .create h2 {
			color:#fff;
		}
		#home .user form{
			border: 10px solid #ededed;
			padding: 15px;
			width: 33%;
			margin: 10px 6%;
			border-radius: 15px;
			background: #fff;
			position:relative;
		}
		#home .user label, #home .user input{
			display:block;
		}
		#home .user input{
			width: 90%;
			padding-left: 5%;
			padding-right: 5%;
			margin: 5px auto 10px;
		}
		#home .user form p{
			font-size: 14px;
		}
		#home .user .button {
			width: 90%;
			padding-left:5%;
			padding-right:5%;
			margin: 5px auto 10px;
			display:block;
		}
		#home .user .content>div{
			margin: 45px 5%;
		}
		#home .user{
			background: #ededed url(../img/paper.png);
		}
		#home .news .content {
			padding: 45px;
		}
		#home .news h2 {
			margin-bottom: 25px;
		}
		#home .marketing {
			background: #ededed url(../img/paper.png);
		}
		#home .marketing .content>div {
			width: 50%;
			text-align:center;
		}
		#home .marketing .button {
			margin: 15px auto;
			font-size: 18px;
		}

	/* Menu */
		menu .menu-button {
			height:35px;
			width: 37px;
			background:transparent;
			border: 0;
			float:right;
			display:inline-block;
		}

		#menu {
			position: fixed;
			display: block;
			height: 100%;
			top: 0;
			right: 0;
			width: 50%;
			max-width: 400px;
			min-width: 200px;
			background: #1D1D1D url(../img/blackorchid.png);
			color:#cdcdcd;
			transition: .4s right;
			box-shadow: 0px 0px 6px 3px #000;
			z-index:20;
		}
		#menu.ng-hide {
			right:-410px;
			position:fixed!important;
			height: 100%!important;
			opacity:1;
		}
		#menu ul {
			list-style: none;
			margin: 15px 0;
		}
		#menu li:first-child {
			border-top: 1px solid #1D1D1D;
		}
		#menu li {
			padding: 10px 20px;
			border-bottom: 1px solid #1D1D1D;
			cursor:pointer;
		}
		#menu a {
			color:#cdcdcd;
		}
		#menu button {
			background: 0;
			padding: 5px;
			font-weight: bold;
			color: #cdcdcd;
			border: 0;
			font-family: 'Open Sans', sans-serif;
		}
		menu .overlay {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(255,255,255,.2);
			z-index: 10;
		}

	/* Change Password */
		#changePassword form {
			border: 10px solid #ededed;
			padding: 15px;
			width: 90%;
			max-width: 400px;
			margin: 15px auto;
			border-radius: 15px;
			background: #fff;
			position:relative;
		}
		#changePassword input, #changePassword label {
			display:block;
			margin: 0 auto;
		}
		#changePassword input[type="password"] {
			width:94%;
			margin-top: 10px;
			margin-bottom: 15px;
		}

	/* Lightbox */
		.lightbox {
			position:fixed;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.5);
			top:0;
			left:0;
			z-index:100;
		}
		.lightbox .content {
			width:80%;
			max-width: 800px;
			min-width: 300px;
			background: #f1f1f1;
			border-radius: 15px;
			box-shadow: 0px 0px 6px 3px #000;
			padding: 15px;
			margin: 10% auto;
		}

	/* Tooltip */
		tooltip {
			width: 16px;
			height: 16px;
			display: inline-block;
			cursor: help;
			position:relative;
		}
		tooltip .message {
			position:absolute;
			bottom: 22px;
			left: -20px;
			background: #fff;
			border: 1px solid #cdcdcd;
			padding: 5px;
			font-size: 12px;
			border-radius: 5px;
			white-space: nowrap;
		}
		tooltip .message .arrow {
			height: 10px;
			width: 10px;
			background: #fff;
			border-top: 1px solid #cdcdcd;
			border-left: 1px solid #cdcdcd;
			border-top-left-radius: 5px;
			transform: rotate(225deg);
			position:absolute;
			bottom: -7px;
			left: 21px;
		}

	/* Editor */
		#edit .heading .button {
			display:inline-block;
			margin: 10px 5px;
		}
		.colors ul {
			list-style: none;
			margin: 15px;
			width: 127px;
			float: left;
			padding: 15px;
			border-right: 1px solid #cdcdcd;
			box-shadow: 6px 0px 4px -5px #737373;
			position:relative;
			transition: .3s width;
		}
		.colors li {
			text-align:right;
			white-space:nowrap;
			overflow:hidden;
			padding-right:2px;
			display:block;
		}
		.colors .color {
			height:20px;
			width:20px;
			display:inline-block;
			border-radius:5px;
			margin:0;
			cursor:pointer;
			box-shadow: 1px 1px 2px 0px #444;
		}
		.colors .current .color {
			cursor:auto;
		}
		.colors .current {
			border-bottom:1px solid #cdcdcd;
			padding-bottom:5px;
			margin-bottom:5px;
		}
		.colors .label {
			display:inline-block;
			width:100px;
			overflow:hidden;
			white-space:nowrap;
			text-align:right;
			transition: .3s width;
		}
		.colors button {
			position:absolute;
			background: #fff;
			border: 1px solid #cdcdcd;
			border-bottom-right-radius:5px;
			border-top-right-radius:5px;
			border-left:0px;
			padding:5px;
			right:-18px;
			top:0;
			font-family:monospace;
			box-shadow: 2px 2px 4px -1px #737373;
		}
		.colors .collapse .label {
			width:0px;
		}
		.colors .collapse {
			width: 27px;
		}
		.template {
			float:right;
			width:75%;
			height:500px;
			transition:.3s width;
			position:relative;
		}
		.template.wide{
			width:85%;
		}
		.mesh {
			fill: rgba(50,50,50,.5);
		}
		*[ng-click] {
			cursor:pointer;
		}
		svg *[ng-click] {
			transition:.3s stroke, .3s stroke-width;
		}
		#edit .variations {
			height: 50px;
			width: 76%;
			float: right;
		}
		#edit .variation {
			height:46px;
			width:46px;
			padding:2px;
		}
		#edit .variation.selected, #edit .variation:hover {
			border:1px solid #cdcdcd;
			border-radius:5px;
		}

	/* Create */
		#create table {
			width:100%;
			text-align:center;
		}
		#create td {
			width:33%;
		}
		#create .logo img {
			max-width:100%;
			max-height:80px;
		}
		#create .variation {
			height: 80px;
			width: 80px;
			transform: rotate(-45deg);
		}
		#create .search {
			margin-top: 25px;
			margin-bottom: 10px;
		}


/* FOOTER */
	footer {
		text-align:center;
		padding: 10px
		display:block;
		clear:both;
	}

/* FONTS */
	/* cyrillic-ext */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
	}
	/* cyrillic */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}
	/* devanagari */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/ttwNtsRpgsxVmgGGmiUOEltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
	}
	/* greek-ext */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/LWCjsQkB6EMdfHrEVqA1KVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+1F00-1FFF;
	}
	/* greek */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/xozscpT2726on7jbcb_pAltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0370-03FF;
	}
	/* vietnamese */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/59ZRklaO5bWGqF5A9baEEVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
	}
	/* latin-ext */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}