/**
 * Styles for the loading icon
 */

@import "base";

loading {
	position: fixed;
	top: 100px;
	text-align: center;
	width: 100%;
}
.spinner {
	margin: 50px auto 0;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;

	> div {
		background-color: $dark_grey;
		height: 100%;
		width: 6px;
		display: inline-block;
		@include animation(stretchdelay 1.2s infinite ease-in-out)
	}
	.rect2 {
		@include animation-delay(-1.1s);
	}
	.rect3 {
		@include animation-delay(-1.0s);
	}
	.rect4 {
		@include animation-delay(-0.9s);
	}
	.rect5 {
		@include animation-delay(-0.8s);
	}
}
@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
	0%, 40%, 100% { 
		@include scaleY(0.4);
	}  20% { 
		@include scaleY(1.0);
	}
}