/**
 * Styles for tabbed navigation
 */

@import "base";

.tab-wrapper{
	position:relative;
}
.tab-radio{
	display:none;
}
.tab-label {
	cursor: pointer;
	font-size: 24px;
	color: $dark_grey;
	opacity:.5;
	position:absolute;
	top:-50px;
	left:0;
}
.tab-section:nth-child(2) .tab-label {
	left: 110px;
}
.tab-radio:checked + .tab-label {
	opacity:1;
}
.tab-label:hover{
	opacity:1;
}
.tab-section {
	margin-top:50px;
}
.tab-content {
	position: absolute;
	opacity:0;
}
.tab-radio:checked ~ .tab-content {
	position:relative;
	opacity: 1;
}