/**
 * Styles for tabbed navigation
 */

@import "base";
%active-content {
	height:auto;
	opacity: 1;
}
%active-label {
	opacity:1;
}
.tab-content {
	position:relative;

	>div {
		@include transition(.3s opacity);
		height: 0px;
		overflow:hidden;
		opacity: 0;
	}
}
.tab {
	cursor: pointer;
	font-size: 24px;
	color:$dark_grey;
	opacity: .5;
	@include transition(.3s opacity);

	&:hover {
		@extend %active-label;
	}
}
.tab-wrapper {
	>input {
		display:none;
	}
	@for $i from 1 through 2 {
		input[type="radio"]:nth-child(#{$i}):checked{
			 ~ .tab-content>div:nth-child(#{$i}) {
				@extend %active-content;
			}
			~ .tab-navigation>li:nth-child(#{$i})>label {
				@extend %active-label;
			}
		}
	}
}
.tab-navigation {
	list-style:none;
}
.tab-item {
	display:inline-block;
	margin-right: 20px;
}