/**
 * Styles for tooltip
 */

@import "base";

tooltip {
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: help;
	position:relative;

	.icon {
		width: 16px;
		height: 20px;
	}
	.message {
		position:absolute;
		bottom: 22px;
		left: -20px;
		background: $white;
		border: 1px solid $light_grey;
		padding: 5px;
		font-size: 12px;
		@include border-radius(5px);
		white-space: nowrap;
		max-width: 9999px;

		.arrow {
			height: 10px;
			width: 10px;
			background: $white;
			border-top: 1px solid $light_grey;
			border-left: 1px solid $light_grey;
			@include border-top-left-radius(5px);
			@include rotate(225deg);
			position:absolute;
			bottom: -7px;
			left: 21px;
		}
	}
}