<h1>Create a New Design</h1>
<p>Select a kite that you want to design.</p>
<div class="search">
	<label for="query">Search</label>
	<select ng-model="search" ng-change="filter();">
		<option selected value="name">Name</option>
		<option value="manufacturer">Manufacturer</option>
	</select>
	<input type="text" id="query" ng-model="query" ng-change="filter();"/>
</div>

<table ng-show="display_products.length">
	<tbody>	
		<tr ng-repeat="product in display_products" ng-click="create(product.id)">
			<td class="logo">
				<div style="background: #fff url(img/logos/{{manufacturers[product.manufacturer].logo}}) no-repeat center">
				</div>
			</td>
			<td class="name">{{product.name}}</td>
			<td class="variations">
				<div class="variation" ng-repeat="variation in product.variations" title="variation.name" ng-bind-html="variation.svg">
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div class="block">
	<button class="button" ng-show="!loading && display_products.length < products.length" ng-click="show_more();">Show More</button>
</div>