<div class="content">
	<div class="heading">
		<div class="left half">
			<h1>{{product.name}} - {{current_variation.name}}</h1>
			<h2>Unsaved</h2>
		</div>
		<div class="right half">
			<button class="button">Save</button>	
			<button class="button">More</button>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="colors">
		<ul class="unstyled" ng-class="{collapse: collapse_colors}">
			<button ng-click="collapse_colors = !collapse_colors;">{{collapse_colors ? '&gt;' : '&lt;'}}</button>
			<li class="current">
				<span class="label">Current</span> <span class="color" style="background-color:{{current_color}}"></span>
			</li>
			<li ng-repeat="color in colors">
				<span class="label">{{color.name}}</span> <span class="color" style="background-color:{{color.color}}" ng-click="change_color(color.color)"></span>
			</li>
		</ul>
	</div>
	<div class="variations">
		<div class="variation" ng-repeat="variation in variations" title="variation.name" ng-bind-html="variation.svg" ng-click="current_variation = variation" ng-class="{selected: current_variation.name === variation.name}">
		</div>
	</div>
	<div class="template" ng-class="{wide: collapse_colors}" compile="current_variation.svg">
	</div>
	<div class="clearfix"></div>
</div>