<div class="content">
	<div class="heading">
		<div class="left half">
			<h1>{{product.name}} - {{current_variation.name}}</h1>
			<h2 class="design-name" ng-click="show_rename = true">
				{{design ? design.name : 'Unsaved'}} 
				<span class="icon" ng-show="design">
					<svg viewBox="0 0 637.468 628.469" enable-background="new 0 0 637.468 628.469" xml:space="preserve">
						<path fill="none" stroke="#CDCDCD" stroke-width="45" stroke-miterlimit="10" d="M200.363,560.679
							c-4.72,4.652-12.318,4.597-16.97-0.122L74.586,450.167c-4.652-4.72-4.598-12.318,0.122-16.97L478.521,35.171
							c4.72-4.652,12.318-4.598,16.97,0.122l108.808,110.39c4.652,4.72,4.598,12.318-0.122,16.97L200.363,560.679z"/>
						
							<line fill="none" stroke="#CDCDCD" stroke-width="45" stroke-miterlimit="10" x1="404.814" y1="107.12" x2="530.469" y2="234.602"/>
						<polygon fill="none" stroke="#CDCDCD" stroke-width="45" stroke-linejoin="round" stroke-miterlimit="10" points="33.427,599.204 
							188.307,565.542 70.023,445.537 	"/>
					</svg>
				</span>
			</h2>
		</div>
		<div class="right half actions">
			<button class="button" ng-click="save();" ng-show="design">{{saving ? 'Saving' : 'Save'}}</button>
			<button class="button" ng-click="show_save_as = true" ng-show="$root.user.logged_in">Save As</button>	
			<button title="Settings" class="settings-button">
				<svg viewBox="0 0 1000 1000" ng-click="show_settings = !show_settings;">
				<defs>
					<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="-0.656" y="-0.587" width="1001.312" height="1001.312">
						<feFlood  style="flood-color:white;flood-opacity:1" result="back"/>
						<feBlend  in="SourceGraphic" in2="back" mode="normal"/>
					</filter>
				</defs>
				<mask maskUnits="userSpaceOnUse" x="-0.656" y="-0.587" width="1001.312" height="1001.312" id="SVGID_1_">
					<g filter="url(#Adobe_OpacityMaskFilter)">
						<g>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="500" cy="500.069" r="245.407"/>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="1035.433" cy="500.069" r="152.231"/>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="878.608" cy="121.461" r="152.231"/>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="500" cy="-35.364" r="152.231"/>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="121.392" cy="121.461" r="152.231"/>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="-35.433" cy="500.069" r="152.231"/>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="121.392" cy="878.678" r="152.231"/>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="500" cy="1035.503" r="152.231"/>
							<circle stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="878.608" cy="878.678" r="152.231"/>
						</g>
					</g>
				</mask>
				<circle mask="url(#SVGID_1_)" stroke="#000000" stroke-width="1.3123" stroke-miterlimit="10" cx="500" cy="500.069" r="500"/>
				</svg>
				<div class="settings-dropdown dropdown" ng-show="show_settings">
					<div>
						<a ng-click="show_outlines = true" ng-hide="show_outlines">Show Outlines</a>
						<a ng-click="show_outlines = false" ng-show="show_outlines">Hide Outlines</a>
					</div>
					<div>
						<a ng-click="autofill();">AutoFill</a>
					</div>
					<div ng-show="$root.user.logged_in">
						<a ng-click="public = true;" ng-hide="public">Make Design Public</a>
						<a ng-click="public = false;" ng-show="public">Make Design Private</a>
					</div>
					<div>
						<label for="input-background">Background</label>
					</div>
				</div>
			</button>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="colors">
		<ul class="unstyled" ng-class="{collapse: collapse_colors}">
			<button ng-click="collapse_colors = !collapse_colors;">{{collapse_colors ? '&gt;' : '&lt;'}}</button>
			<li class="current">
				<span class="label">Current</span> <span class="color" style="background-color:{{current_color}}"></span>
			</li>
			<li ng-repeat="color in colors">
				<span class="label">{{color.name}}</span> <span class="color" style="background-color:{{color.color}}" ng-click="change_color(color.color)"></span>
			</li>
		</ul>
	</div>
	<div class="variations"ng-class="{wide: collapse_colors}">
		<div 
			class="variation" 
			ng-repeat="variation in variations" 
			title="{{variation.name}}" 
			ng-bind-html="variation.svg" 
			ng-click="select_variation(variation);" 
			ng-class="{selected: current_variation.name === variation.name}"
		>
		</div>
	</div>
	<div class="template" ng-class="{wide: collapse_colors, outlines: show_outlines}" compile="current_variation.svg">
	</div>
	<div class="prompt save_as" ng-show="show_save_as">
		<label for="save_as_name">What do you want to name your design?</label>
		<input type="text" id="save_as_name" ng-model="save_as_name" />
		<button class="button" ng-click="save_as();">Save</button>
		<button class="button" ng-click="show_save_as = false">Cancel</button>
	</div>

	<div class="prompt rename" ng-show="show_rename">
		<label for="rename_name">What do you want to name your design?</label>
		<input type="text" id="rename_name" ng-model="design.name" />
		<button class="button" ng-click="rename();">Save</button>
		<button class="button" ng-click="show_rename = false">Cancel</button>
	</div>
	<div class="clearfix"></div>
</div>