<div class="landing">
	<div class="content">
		<div class="create">
			<h2>Get started now by creating a new kite design!</h2>
			<a ui-sref="create" class="button action">Get Started</a>
		</div>
	</div>
</div>
<div class="user" ng-hide="$root.user">
	<div class="content" ng-show="has_account && !$root.user">
		<div class="left">
			<h2>Welcome Back!</h2>
			<p>Sign in to get back to your saved designs.</p>
		</div>
		<form class="right login" ng-hide="$root.lost_password" ng-submit="$root.login()">
			<p class="success" ng-show="$root.reset_status === 'reset'">Your password has been reset. An email has been sent to {{$root.reset.email}}.</p>
			<label for="input-username">Username</label>
			<input 
				type="text" 
				id="input-username" 
				name="username" 
				ng-model="$root.sign_in.username"
				required
				ng-pattern="/^[A-Za-z0-9_\-]+$/"
				ng-minlength="3"
				ng-maxlength="30"
			/>
			<label for="input-password">Password <tooltip content="password"></tooltip></label>
			<input 
				type="password" 
				id="input-password" 
				name="password" 
				ng-model="$root.sign_in.password" 
				required
				ng-minlength="6"
				ng-maxlength="15"
				ng-pattern="/[A-Za-z0-9@*#.]/"
			/>
			<input type="submit" class="button action" ng-hide="$root.login_loading" value="Sign In" />
			<button class="button action" ng-show="$root.login_loading">Signing In</button>
			<p><a ng-click="$root.lost_password=true">Lost Password?</a></p>
			<p><a ng-click="$root.has_account = false">Register</a></p>
		</form>
		<form class="right lost-password" ng-show="$root.lost_password" ng-submit="$root.reset_password();">
			<p class="error" ng-show="$root.reset_status === 'invalid' && $root.reset_message">{{$root.reset_message}}</p>
			<div>
				<p>Enter your username and email to reset your password.</p>
				<br/>
				<label for="reset-username">Username</label>
				<input 
					type="text" 
					id="reset-username" 
					ng-model="$root.reset.username" 
					required
					ng-pattern="/^[A-Za-z0-9_\-]+$/"
					ng-minlength="3"
					ng-maxlength="30"
				/>
				<label for="reset-email">Email</label>
				<input 
					type="text" 
					id="reset-email" 
					ng-model="$root.reset.email"
					required
				/>
				<input type="submit" class="button action" ng-hide="$root.resetting" value="Reset Password" />
				<button class="button action" ng-show="$root.resetting">Resetting Password</button>
			</div>
		</form>
		<div class="clearfix"></div>
	</div>
	<div class="content register" ng-show="!has_account && !$root.user">
		<div class="left">
			<h2>Create an Account</h2>
			<p>By creating a free account, you get access to features such as:</p>
			<ul>
				<li>Saving your designs</li>
				<li>Setting favorite kites</li>
				<li>Sharing your designs with the world</li>
			</ul>
		</div>
		<form class="right" ng-submit="$root.register()">
			<div ng-show="$root.register_status !== 'registered'">
				<p class="error" ng-show="$root.register_status === 'invalid' && $root.register_message">{{$root.register_message}}</p>
				<label for="register-username">Username <tooltip content="username"></tooltip></label>
				<input 
					type="text" 
					id="register-username" 
					name="username"
					ng-model="$root.register.username" 
					placeholder="e.g. JoeBob86" 
					required
					ng-pattern="/^[A-Za-z0-9_\-]+$/"
					ng-minlength="3"
					ng-maxlength="30"
				/>
				<label for="register-email">Email Address</label>
				<input 
					type="email" 
					id="register-email" 
					name="email" 
					ng-model="$root.register.email" 
					placeholder="e.g. joe@bob.com" 
					required
				/>
				<label for="register-password">Password <tooltip content="password"></tooltip></label>
				<input 
					type="password" 
					id="register-password" 
					name="password" 
					ng-model="$root.register.password" 
					required
					ng-minlength="6"
					ng-maxlength="15"
					ng-pattern="/[A-Za-z0-9@*#.]/"
				/>
				<label for="register-password-2">Confirm Password <tooltip content="password"></tooltip></label>
				<input 
					type="password" 
					id="register-password-2" 
					name="password2" 
					ng-model="$root.register.password2" 
					required
					ng-minlength="6"
					ng-maxlength="15"
					ng-pattern="/[A-Za-z0-9@*#.]/"
				/>
				<input type="submit" class="button action" ng-hide="$root.registering" value="Sign Up" />
				<button class="button action" ng-show="$root.registering">Signing Up</button>
				<p>Already registered? <a ng-click="$root.has_account = true">Sign In</a></p>
			</div>
			<p class="success" ng-show="$root.register_status === 'registered'">You have successfully registered! An activation email has been sent to your inbox. You may log in once your account has been activated.<br/><a ng-click="has_account = true;">Log In</a></p>
		</form>
		<div class="clearfix"></div>
	</div>
</div>
<div class="designs">
	<div class="content">
		<h2>Recent Designs</h2>
		<ul>
			<a ng-repeat="design in designs" ui-sref="view({id:{{design.id}}})">
				<li class="design">
					<div ng-bind-html="design.primary.svg"></div>
					<p>{{design.name}}</p>
				</li>
			</a>
			<div class="clearfix"></div>
		</ul>
		<a ui-sref="designs">See All</a>
		<div class="clearfix"></div>
	</div>
</div>
<div class="news">
	<div class="content">
		<h2>Recent News</h2>
		<h3>Kite Paint Alpha!</h3>
		<p>Kite paint is currently undergoing development.</p>
	</div>
</div>
<div class="marketing">
	<div class="content">
		<div class="manufacturer left half">
			<h2>Are You a Manufacturer?</h2>
			<p>Get your kite listed! Give your customers the opportunity to create custom design orders for your products.</p>
			<a ui-sref="manufacturer" class="button action">Get Info</a>
		</div>
		<div class="retailer right half">
			<h2>Are You a Retailer?</h2>
			<p>Get custom orders directly from Kite Paint!</p>
			<a ui-sref="retailer" class="button action">Get Info</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
