<div id="landing" class="section">
	<div class="content">
		<div class="text">
			<h1>Get started now</h1>
			<p>We will work directly with you to create a custom kite designer for your products.</p>
		</div>
		<form ng-hide="inquired" ng-submit="send()">
			<div>
				<label for="input-name">Name</label>
				<input type="text" id="input-name" placeholder="e.g. Joe Bob" ng-model="input_name" required />
				<label for="input-email">Email</label>
				<input type="email" id="input-email" placeholder="e.g. joe@bob.com" ng-model="input_email" required />
				<label for="input-company">Company</label>
				<input type="text" id="input-company" ng-model="input_company" />
				<button class="button action">Get Started</button>
			</div>
		</form>
		<div class="message" ng-show="inquired">
			<div>
				<h2>We got your request!</h2>
				<p>We will email you soon to follow up on your request to get custom kite design tools for your products.</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="about" class="section">
	<div class="content">
		<h1>What can KitePaint do for you?</h1>
		<p>KitePaint.com offers tools for customers to create custom designs for your products. We encourage engagement to keep your customers interested in your products. Here are some of the things that you can get by signing up with KitePaint.com</p>
		<ul>
			<li>Listing on KitePaint.com</li>
			<li>A kite designer web application for your product</li>
			<li>An embeddable designer application to include on your website</li>
		</ul>
	</div>
</div>
<div id="packages" class="section">
	<div class="content">
		<h1>Packages</h1>
		<p>There are three service packages to choose from:</p>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Basic</th>
					<th>Improved</th>
					<th>Advanced</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Products <tooltip content="Individualy_listed_product"></tooltip></th>
					<td>1</td>
					<td>5</td>
					<td>Unlimited</td>
				</tr>
				<tr>
					<th>Variations <tooltip content="Additional_variations_of_a_product"></tooltip></th>
					<td>3</td>
					<td>15</td>
					<td>Unlimited</td>
				</tr>
				<tr>
					<th>Embed <tooltip content="Embeddable_version_of_kite_designer"></tooltip></th>
					<td>Yes</td>
					<td>Yes</td>
					<td>Yes</td>
				</tr>
				<tr>
					<th>Price <tooltip content="Prices_are_listed_in_USD"></tooltip></th>
					<td>$20/mo</td>
					<td>$50/mo</td>
					<td>$100/mo</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="button" ng-click="show_lightbox = true; package = 'Basic'">Get Info</button>
					</td>
					<td>
						<button class="button" ng-click="show_lightbox = true; package = 'Improved'">Get Info</button>
					</td>
					<td>
						<button class="button" ng-click="show_lightbox = true; package = 'Advanced'">Get Info</button>
					</td>
				</tr>
			</tbody>
		</table>
		<p><strong>Products</strong> are stand alone items (e.g. Revolution B-Series Pro is a product). A product includes a single variation.</p>
		<p><strong>Variations</strong> are slightly different versions of a product (e.g. Revolution B-Series Pro Vented is a variation). A variation should still be branded as the initial product, and should look very similar with limited variance.</p> 
	</div>
</div>

<div class="lightbox" ng-show="show_lightbox">
	<a ng-click="show_lightbox = false; package = false" class="close right">Close</a>
	<div class="content">
		<h2>Inquire about the {{package}} package</h2>
		<form ng-submit="send(); show_lightbox = false">
			<div>
				<label for="input-name">Name</label>
				<input type="text" id="input-name" placeholder="e.g. Joe Bob" ng-model="input_name" required />
				<label for="input-email">Email</label>
				<input type="email" id="input-email" placeholder="e.g. joe@bob.com" ng-model="input_email" required />
				<label for="input-company">Company</label>
				<input type="text" id="input-company" ng-model="input_company" />
				<button class="button action">Get Started</button>
			</div>
		</form>
	</div>
</div>