/**
 * Styles for noscript message
 */
/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 7, ../../scss/sections/noscript.scss */
noscript {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
}
/* line 16, ../../scss/sections/noscript.scss */
noscript div {
  width: 90%;
  margin: 10% auto;
  max-width: 400px;
  max-height: 90%;
  padding: 15px;
  background: #cdcdcd;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 2px 2px 2px 0 #444;
  -webkit-box-shadow: 2px 2px 2px 0 #444;
  box-shadow: 2px 2px 2px 0 #444;
}
