@import "base";
#account {
	li {
		padding: 5px;
		border-bottom: 1px solid $light_grey;

		&:last-child {
			border-bottom: 0;
		}
	}
}
li.image {
	img {
		max-width: 200px;
		max-height: 200px;
		padding: 10px;
		float: left;
	}
	p {
		margin: 0 0 10px;
	}
	input, button {
		display:inline-block;
		margin: 5px;
	}
}
ul.unstyled {
	margin: 20px 0;
}
table {
	margin: 15px 0;

	td {
		text-align:center;
	}
}