@import "base";
aside {
	display:none!important;
}
.container {
	max-width: 700px;
	width: 100%;
	@include border-radius(15px);
	padding: 20px;
	background: $lighter_grey;
	margin: 10px auto;

	>p {
		margin-bottom: 10px;
	}
}
form {
	background: $white;
	border-radius: 15px;
	padding: 10px;

	p {
		margin-bottom: 10px;
	}
	.error {
		display:block;
		text-align:center;
	}
}
.half {
	@include box-sizing(border-box);
	padding: 10px;
}
label {
	display:block;
}
input, select {
	width: 100%;
	@include box-sizing(border-box);
	padding: 9px;
}
.button {
	margin: 10px auto;
}