@import "base";

label {
	display:block;
	margin: 15px 0 5px;
}
.item {
	display:inline-block;
	width: 300px;
}
#controls {
	margin: 20px 0;
}
textarea {
	width: 90%;
	height: 200px;
}
iframe {
	border: 2px solid $light_grey;
	@include border-radius(10px);
}