/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 3, ../../scss/pages/account.scss */
#account li {
  padding: 5px;
  border-bottom: 1px solid #cdcdcd;
}
/* line 7, ../../scss/pages/account.scss */
#account li:last-child {
  border-bottom: 0;
}

/* line 13, ../../scss/pages/account.scss */
li.image img {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  float: left;
}
/* line 19, ../../scss/pages/account.scss */
li.image p {
  margin: 0 0 10px;
}
/* line 22, ../../scss/pages/account.scss */
li.image input, li.image button {
  display: inline-block;
  margin: 5px;
}

/* line 27, ../../scss/pages/account.scss */
ul.unstyled {
  margin: 20px 0;
}

/* line 30, ../../scss/pages/account.scss */
table {
  margin: 15px 0;
}
/* line 33, ../../scss/pages/account.scss */
table td {
  text-align: center;
}
