/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 2, ../../scss/pages/activate.scss */
aside {
  display: none !important;
}

/* line 5, ../../scss/pages/activate.scss */
.container {
  max-width: 700px;
  width: 100%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  background: #ededed;
  margin: 10px auto;
}
/* line 13, ../../scss/pages/activate.scss */
.container > p {
  margin-bottom: 10px;
}

/* line 17, ../../scss/pages/activate.scss */
form {
  background: #fff;
  border-radius: 15px;
  padding: 10px;
}
/* line 22, ../../scss/pages/activate.scss */
form p {
  margin-bottom: 10px;
}
/* line 25, ../../scss/pages/activate.scss */
form .error {
  display: block;
  text-align: center;
}

/* line 30, ../../scss/pages/activate.scss */
.half {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

/* line 34, ../../scss/pages/activate.scss */
label {
  display: block;
}

/* line 37, ../../scss/pages/activate.scss */
input, select {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px;
}

/* line 42, ../../scss/pages/activate.scss */
.button {
  margin: 10px auto;
}
