/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 2, ../../scss/pages/activate.scss */
main#activate {
  margin: 0;
  width: 100%;
}

/* line 6, ../../scss/pages/activate.scss */
aside {
  display: none !important;
}

/* line 9, ../../scss/pages/activate.scss */
.container {
  max-width: 700px;
  width: 100%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  background: #ededed;
  margin: 10px auto;
}
/* line 17, ../../scss/pages/activate.scss */
.container > p {
  margin-bottom: 10px;
}

/* line 21, ../../scss/pages/activate.scss */
form {
  background: #fff;
  border-radius: 15px;
  padding: 10px;
}
/* line 26, ../../scss/pages/activate.scss */
form p {
  margin-bottom: 10px;
}
/* line 29, ../../scss/pages/activate.scss */
form .error {
  display: block;
  text-align: center;
}

/* line 34, ../../scss/pages/activate.scss */
.half {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

/* line 38, ../../scss/pages/activate.scss */
label {
  display: block;
}

/* line 41, ../../scss/pages/activate.scss */
input, select {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px;
}

/* line 46, ../../scss/pages/activate.scss */
.button {
  margin: 10px auto;
}
