<div class="lightbox" ng-show="$root.show_share">
	<a ng-click="$root.show_share = false" class="close right">Close</a>
	{{root.share_design}}
	<ul class="options" ng-hide="make_public">
		<li class="link" ng-class="{selected: selected === 'link'}" title="Share a link" ng-click="selected = 'link'">
			<svg viewBox="0 0 1000 1000">
				<path fill="none" stroke="#FFFFFF" stroke-width="93.1711" stroke-miterlimit="10" d="M745.9,765.3c0,85.6-69.4,155-155,155H227.1
					c-85.6,0-155-69.4-155-155V401.5c0-85.6,69.4-155,155-155h363.8c85.6,0,155,69.4,155,155V765.3z"/>
				<path fill="#FFFFFF" d="M602.4,659.5c-29.9,29.9-78.3,29.9-108.1,0L348.1,513.3c-29.9-29.9-29.9-78.3,0-108.1l239.3-239.3
						c29.9-29.9,78.3-29.9,108.1,0l146.2,146.2c29.9,29.9,29.9,78.3,0,108.1L602.4,659.5z"/>
				<path fill="#FFFFFF" d="M466,93.5l448,448c5.2,5.2,14,1.4,13.8-5.9l-8.2-439.8c-0.1-4.4-3.6-7.9-7.9-7.9l-439.8-8.2
					C464.6,79.6,460.9,88.4,466,93.5z"/>
			</svg>
		</li>
		<!-- <li class="images" ng-class="{selected: selected === 'images'}" title="Download Images" ng-click="selected = 'images'">
			<svg viewBox="0 0 1000 676">
				<path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="7.3753" stroke-miterlimit="10" d="M500,354.1L937.4,38.6
					c0,0-24.1-12.2-44.9-12.2c-20.8,0-785,0-785,0s-16.4-3.2-45.4,12.5L500,354.1z"/>
				<path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="7.3753" stroke-miterlimit="10" d="M371,299.3L35.7,614.8
					c0,0-16.7-27.2-16.7-51.7c0-24.5,0-448.3,0-448.3s-1.8-29,19.1-54.9L371,299.3z"/>
				<path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="7.3753" stroke-miterlimit="10" d="M397,319.3l102.8,74l103.2-74l339.3,317
					c0,0-22.3,15.3-49.8,15.3c-27.5,0-785,0-785,0s-23.2,0.9-49.8-15.4L397,319.3z"/>
				<path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="7.3753" stroke-miterlimit="10" d="M629,300L961.5,59.4c0,0,19.5,27,19.5,55.5
					s0,448.3,0,448.3s1.8,20.8-16.8,51.8L629,300z"/>
			</svg>
		</li> -->
		<!-- <li class="facebook" ng-class="{selected: selected === 'facebook'}" title="Share on Facebook" ng-click="share_facebook()">
			<svg viewBox="0 0 478.5 1000">
				<path fill="#FFFFFF" d="M112.2,991.8V494.5H9.1V330.9h103.1V199.9c0,0,6.2-191.7,183.9-191.7s171.5,0,171.5,0l0,158.8l-116.9,0.2
					c0,0-37.4-1.1-37.4,37.8s0.6,125.8,0.6,125.8h153.8l-17.6,161.8l-136.7-0.1v499.2H112.2z"/>
				<path fill="#231F20" d="M348.5,67"/>
				<path fill="none" stroke="#231F20" stroke-miterlimit="10" d="M348.5,825.6"/>
			</svg>
		</li> -->
		<a href="https://twitter.com/intent/tweet?url={{encoded_url}}&amp;hashtags=kitepaint"><li class="twitter" ng-class="{selected: selected === 'twitter'}" title="Share on Twitter">
			<svg viewBox="0 0 1000 820">
				<path fill="#FFFFFF" d="M982.7,113.6c-35.5,15.8-73.7,26.4-113.8,31.2c40.9-24.5,72.3-63.3,87.1-109.6
					c-38.3,22.7-80.7,39.2-125.8,48.1c-36.1-38.5-87.6-62.5-144.6-62.5c-109.4,0-198.1,88.7-198.1,198.1c0,15.5,1.8,30.6,5.1,45.1
					C328.1,255.7,182.2,176.8,84.5,57c-17,29.3-26.8,63.3-26.8,99.6c0,68.7,35,129.3,88.1,164.9c-32.5-1-63-9.9-89.7-24.8
					c0,0.8,0,1.7,0,2.5c0,96,68.3,176,158.9,194.2c-16.6,4.5-34.1,6.9-52.2,6.9c-12.8,0-25.2-1.2-37.3-3.6c25.2,78.7,98.3,136,185,137.6
					c-67.8,53.1-153.2,84.8-246,84.8c-16,0-31.8-0.9-47.2-2.8c87.7,56.2,191.8,89,303.6,89c364.3,0,563.5-301.8,563.5-563.5
					c0-8.6-0.2-17.1-0.6-25.6C922.6,188.2,956.1,153.3,982.7,113.6z"></path>
			</svg>
		</li></a>
	</ul>
	<div class="content" ng-hide="make_public">
		<div class="link-content" ng-show="selected === 'link'">
			<label for="share-url">Copy and share this url:</label>
			<input id="share-url" type="text" disabled ng-model="url" />

			<label>Or generate PNG to download:</label>
			<button class="button center" ng-click="generate_images()">Generate PNGs</button>
			<br/>
			<p ng-if="variationImages.length">Click one of the links below to download your image:</p>
			<ul>
				<li ng-repeat="variation in variationImages">
					<a ng-href="{{variation.imageData}}" download="{{variation.name}}.png">{{variation.name}}</a>
				</li>
			</ul>
		</div>
		<div class="iamges-content" ng-show="selected === 'images'">

		</div>
		<div class="facebook-content" ng-show="selected === 'facebook'">

		</div>
		<div class="twitter-content" ng-show="selected === 'twitter'">

		</div>
	</div>
	<div class="content" ng-show="make_public">
		<p class="center">This design is set to private. Please set to public or unlisted before sharing.</p>
		<button class="button action center" ng-click="set_status($root.share_design, 2)">Set Public</button>
		<button class="button action center" ng-click="set_status($root.share_design, 1)">Set Unlisted</button>
	</div>
</div>
