/**
 * Styles for responsive functionality
 */
/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 7, ../../scss/layout/responsive.scss */
body, header {
  min-width: 300px;
}

/* ~Tablet Portrait */
@media only screen and (max-width: 800px) {
  /* GENERAL */
  /* CLASSES */
  /* line 16, ../../scss/layout/responsive.scss */
  .half {
    width: 100%;
  }

  /* line 19, ../../scss/layout/responsive.scss */
  .mobile {
    display: initial;
  }

  /* line 22, ../../scss/layout/responsive.scss */
  .lightbox {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    left: 0;
  }

  /* HEADER */
  /* line 31, ../../scss/layout/responsive.scss */
  header .logged-in {
    display: none;
  }
  /* line 34, ../../scss/layout/responsive.scss */
  header .container > .right {
    width: auto;
  }
}
