<button class="menu-button" ng-click="show = true">
	<svg viewBox="0 0 811.628 600">
		<line fill="none" stroke="#231F20" stroke-width="78" stroke-linecap="round" stroke-miterlimit="10" x1="98.843" y1="93.924" x2="718.612" y2="92.761"/>
		<line fill="none" stroke="#231F20" stroke-width="78" stroke-linecap="round" stroke-miterlimit="10" x1="98.843" y1="292.715" x2="718.612" y2="291.552"/>
		<line fill="none" stroke="#231F20" stroke-width="78" stroke-linecap="round" stroke-miterlimit="10" x1="98.843" y1="491.506" x2="718.612" y2="490.343"/>
	</svg>
</button>
<div id="menu" ng-show="show">
	<button class="hide" ng-click="show = false">Close ></button>
	<ul class="pages">
		<a ui-sref="home" ng-click="show = false">
			<li>Home</li>
		</a>
		<a ui-sref="about" ng-click="show = false">
			<li>About</li>
		</a>
		<a ui-sref="create" ng-click="show = false">
			<li>Create</li>
		</a>
		<a ui-sref="account" ng-click="show = false" ng-show="$root.user">
			<li>Account</li>
		</a>
		<a ui-sref="contact" ng-click="show = false">
			<li>Contact</li>
		</a>
	</ul>
	<ul class="user" ng-show="$root.user">
		<a ui-sref="home" ng-click="$root.logout(); show = false;"><li>Sign Out</li></a>
	</ul>
	<div ng-show="!$root.user">
		<form class="login" ng-hide="$root.lost_password || !$root.has_account" ng-submit="$root.login()">
			<p class="success" ng-show="$root.reset_status === 'reset'">Your password has been reset. An email has been sent to {{$root.reset.email}}.</p>
			<label for="menu-input-username">Username</label>
			<input
				type="text"
				id="menu-input-username"
				name="username"
				ng-model="$root.sign_in.username"
				required
				ng-pattern="/^[A-Za-z0-9_\-]+$/"
				ng-minlength="3"
				ng-maxlength="30"
			/>
			<label for="menu-input-password">Password <tooltip content="password"></tooltip></label>
			<input
				type="password"
				id="menu-input-password"
				name="password"
				ng-model="$root.sign_in.password"
				required
				ng-minlength="6"
				ng-maxlength="15"
				ng-pattern="/[A-Za-z0-9@*#.]/"
			/>
			<input type="submit" class="button action" ng-hide="$root.login_loading" value="Sign In" />
			<button class="button action" ng-show="$root.login_loading">Signing In</button>
			<p><a ng-click="$root.lost_password=true">Lost Password?</a></p>
			<p><a ng-click="$root.has_account = false">Register</a></p>
		</form>
		<form class="right lost-password" ng-show="$root.lost_password  && $root.has_account" ng-submit="$root.reset_password();">
			<p class="error" ng-show="$root.reset_status === 'invalid' && $root.reset_message">{{$root.reset_message}}</p>
			<div>
				<p>Enter your username and email to reset your password.</p>
				<br/>
				<label for="menu-reset-username">Username</label>
				<input
					type="text"
					id="menu-reset-username"
					ng-model="$root.reset.username"
					required
					ng-pattern="/^[A-Za-z0-9_\-]+$/"
					ng-minlength="3"
					ng-maxlength="30"
				/>
				<label for="menu-reset-email">Email</label>
				<input
					type="text"
					id="menu-reset-email"
					ng-model="$root.reset.email"
					required
				/>
				<input type="submit" class="button action" ng-hide="$root.resetting" value="Reset Password" />
				<button class="button action" ng-show="$root.resetting">Resetting Password</button>
				<p><a ng-click="$root.lost_password = false">Cancel</a></p>
			</div>
		</form>
		<form class="right" ng-submit="$root.register()" ng-hide="$root.has_account">
			<div ng-show="$root.register_status !== 'registered'">
				<label for="menu-register-username">Username <tooltip content="username"></tooltip></label>
				<input
					type="text"
					id="menu-register-username"
					name="username"
					ng-model="$root.register.username"
					placeholder="e.g. JoeBob86"
					required
					ng-pattern="/^[A-Za-z0-9_\-]+$/"
					ng-minlength="3"
					ng-maxlength="30"
				/>
				<label for="menu-register-email">Email Address</label>
				<input
					type="email"
					id="menu-register-email"
					name="email"
					ng-model="$root.register.email"
					placeholder="e.g. joe@bob.com"
					required
				/>
				<label for="menu-register-password">Password <tooltip content="password"></tooltip></label>
				<input
					type="password"
					id="menu-register-password"
					name="password"
					ng-model="$root.register.password"
					required
					ng-minlength="6"
					ng-maxlength="15"
					ng-pattern="/[A-Za-z0-9@*#.]/"
				/>
				<label for="menu-register-password-2">Confirm Password <tooltip content="password"></tooltip></label>
				<input
					type="password"
					id="menu-register-password-2"
					name="password2"
					ng-model="$root.register.password2"
					required
					ng-minlength="6"
					ng-maxlength="15"
					ng-pattern="/[A-Za-z0-9@*#.]/"
				/>
				<input type="submit" class="button action" ng-hide="$root.registering" value="Sign Up" />
				<button class="button action" ng-show="$root.registering">Signing Up</button>
				<p><a href="docs/KitePaintTermsandConditions.pdf" target="_blank">Terms and Conditions</a></p>
				<p><a ng-click="$root.has_account = true">Already registered? Sign In</a></p>
			</div>
			<p class="success" ng-show="$root.register_status === 'registered'">You have successfully registered! An activation email has been sent to your inbox. You may log in once your account has been activated.</p>
		</form>
	</div>
</div>
<div class="overlay" ng-show="show" ng-click="show = false"></div>
