<h1>Users</h1>
<div class="section">
	<label>Search</label>
	<select ng-model="search" ng-change="filter();">
		<option value="loginid">ID</option>
		<option selected value="username">Username</option>
		<option value="email">Email</option>
		<option value="create_time">Created</option>
		<option value="last_login">Last Login</option>
	</select>
	<input type="text" ng-model="query" ng-change="filter();"/>
</div>

<div class="section">
	<div class="block">
		<button class="button" ng-click="add_user();">Add User</button>
	</div>

	<p ng-show="loading">Loading...</p>

	<table ng-show="display_users.length">
		<thead>
			<tr>
				<th 
					ng-click="sort_by('loginid')" 
					ng-class="{sorted: sort.metric === 'loginid', ascending: sort.metric === 'loginid' && sort.ascending, descending: sort.metric === 'loginid' && !sort.ascending}"
				>ID</th>
				<th 
					ng-click="sort_by('username')"
					ng-class="{sorted: sort.metric === 'username', ascending: sort.metric === 'username' && sort.ascending, descending: sort.metric === 'username' && !sort.ascending}"
				>Username</th>
				<th 
					ng-click="sort_by('email')"
					ng-class="{sorted: sort.metric === 'email', ascending: sort.metric === 'email' && sort.ascending, descending: sort.metric === 'email' && !sort.ascending}"
				>Email</th>
				<th 
					ng-click="sort_by('first_name')"
					ng-class="{sorted: sort.metric === 'first_name', ascending: sort.metric === 'first_name' && sort.ascending, descending: sort.metric === 'first_name' && !sort.ascending}"
				>First Name</th>
				<th 
					ng-click="sort_by('last_name')"
					ng-class="{sorted: sort.metric === 'last_name', ascending: sort.metric === 'last_name' && sort.ascending, descending: sort.metric === 'last_name' && !sort.ascending}"
				>Last Name</th>
				<th 
					ng-click="sort_by('create_time')"
					ng-class="{sorted: sort.metric === 'create_time', ascending: sort.metric === 'create_time' && sort.ascending, descending: sort.metric === 'create_time' && !sort.ascending}"
				>Created</th>
				<th 
					ng-click="sort_by('last_login')"
					ng-class="{sorted: sort.metric === 'last_login', ascending: sort.metric === 'last_login' && sort.ascending, descending: sort.metric === 'last_login' && !sort.ascending}"
				>Last Login</th>
				<th>Designs</th>
				<th>Favorites</th>
				<th 
					ng-click="sort_by('activated')"
					ng-class="{sorted: sort.metric === 'activated', ascending: sort.metric === 'activated' && sort.ascending, descending: sort.metric === 'activated' && !sort.ascending}"
				>Activated</th>
			</tr>
		</thead>
		<tbody>	
			<tr ng-repeat="user in display_users" ng-click="edit_user(user)">
				<td>{{user.loginid}}</td>
				<td>{{user.username}}</td>
				<td><a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a></td>
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
				<td>{{user.create_time}}</td>
				<td>{{user.last_login}}</td>
				<td>{{user.designs}}</td>
				<td>{{user.favorites}}</td>
				<td>{{user.activated ? 'Yes' : 'No'}}</td>
			</tr>
		</tbody>
	</table>
	
	<div class="block">
		<button class="button" ng-show="!loading && display_users.length < users.length" ng-click="show_more();">Show More</button>
	</div>

	<!-- create/edit -->
	<div class="lightbox" ng-show="show_edit">
		<div class="content">
			<a ng-click="show_edit = false" class="close right">Close</a>
			<h2 ng-show="editing.new">Creating New User</h2>
			<h2 ng-hide="editing.new">Editing {{editing.username}}</h2>
			<form ng-submit="save_user(editing)">
				<div class="left half">
					<label>Username</label>
					<input type="text" required ng-model="editing.username" ng-pattern="/^[A-Za-z0-9_\-]+$/" ng-minlength="3" ng-maxlength="30" tabindex="1"/>
					<label ng-hide="editing.new">Activated</label>
					<input ng-hide="editing.new" type="checkbox" ng-model="editing.activated"  tabindex="3"/>
				</div>
				<div class="right half">	
					<label>Email</label>
					<input type="email" required ng-model="editing.email"  tabindex="2"/>

				</div>
				<div class="clearfix"></div>
				<input type="submit" value="Save" class="button"  tabindex="4"/>
				<div class="clearfix"></div>
			</form>
			<button class="button red right" ng-click="delete_user(editing)" ng-hide="editing.new">Delete</button>
			<button class="button right" ng-click="reset_password(editing)" ng-hide="editing.new">Reset Password</button>
			<div class="clearfix"></div>
		</div>
	</div>
</div>