/**
 * Styles for change password page
 */

@import "base";

#changePassword {
	form {
		border: 10px solid $lighter_grey;
		padding: 15px;
		width: 90%;
		max-width: 400px;
		margin: 15px auto;
		@include border-radius(15px);
		background: $white;
		position:relative;
	}
	input, label {
		display:block;
		margin: 0 auto;
	}
	input[type="password"] {
		width:94%;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.button {
		margin: 0 auto;
	}
}