/**
 * Styles for responsive create page
 */

@import "base";


/* ~Tablet Portrait */
@media only screen and (max-width : 800px) {
	#create {
		.logo {
			float:left;
			padding:20px 0;
			margin:0;
		}
		.details {
			float:left;
			width:77%;
		}
		.name {
			padding:10px 0;
			top:0;
			width:100%;
		}
		select, input {
			font-size:12px;
		}
	}
}

/* ~Phone */
@media only screen and (max-width : 450px) {
	#create {
		.details {
			margin: 0 0 0 10px;
		}
		label {
			display:block;
			width:100%;
			text-align:center;
			font-weight:bold;
			margin-bottom:10px;
		}
		select {
			font-size:16px;
			width:100%;
			display:block;
			margin-bottom: 10px;
		}
		input {
			font-size: 16px;
			width: 92%;
			display:block;
		}
	}
}