/**
 * Styles for create page
 */

@import "base";

#create {
	ul {
		width:100%;
		text-align:left;

		>li {
			position:relative;
			border-bottom: 1px solid $light_grey;
			@include transition(.3s background);
			padding-top: 10px;

			&:hover {
				background:$lighter_grey;
			}
			>div {
				display:inline-block;
				margin: 0 15px;
				width:84%;

				>div {
					display:inline-block;
				}
			}
		}
	}
	.logo {
		width:50px;

		div {
			width: 50px;
			height:50px;
			border:1px solid $light_grey;
			@include border-radius(50px);
			background-size: 90%!important;
		}
	}
	.name {
		position: relative;
		height: 20px;
		padding: 15px 0;
		top: -20px;
		width:50%;
	}
	.variation {
		height: 50px;
		width: 50px;
		@include rotate(-45deg);
		display:inline-block;
	}
	.search {
		margin-top: 25px;
		margin-bottom: 10px;
	}
}