/**
 * Styles for designs page
 */

@import "base";

#designs ul {
	margin: 0;
	list-style:none;
	margin-top: 15px;

	li {
		display: inline-block;
		width: 200px;
		margin: 10px;
		background: $light_grey;
		padding: 10px;
		@include border-radius(10px);
		position:relative;

		.design {
			padding: 10px;
			background: $white;
			@include border-top-radius(10px);
			max-height: 150px;
			position: relative;
		}
		.manufacturer {
			width: 40px;
			height: 40px;
			display: block;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-color: $white;
			@include border-radius(40px);
			border: 1px solid $light_grey;
			position: absolute;
			top: -17px;
			left: -17px;
		}
	}
}