/**
 * Styles for responsive account page
 */

@import "base";


/* ~Tablet Portrait */
@media only screen and (max-width : 800px) {
	#home {
		.user {
			div.content>div {
				float:none;
				width:90%;
				text-align:center;
			}
			.content > form {
				width:73%;
				float:none;
				margin:0 auto;
			}
		}
		.marketing .content .half {
			float:none;
			width: 90%;
			margin: 10px auto;
		}
	}
}

/* ~Phone */
@media only screen and (max-width : 450px) {
	#home .news .content {
		padding:15px;
	}
}