<h1>Account Settings</h1>
<div>
	<h2>Personal</h2>
	<ul class="unstyled">
		<li><strong>Username:</strong> {{$root.retailer.username}}</li>
		<li><strong>Password:</strong> <a class="edit" ng-click="edit = 'password'">change password</a></li>
		<li><strong>Name:</strong> {{$root.retailer.first_name}} {{$root.retailer.last_name}} <a class="edit" ng-click="edit = 'name'">edit</a></li>
		<li><strong>Email:</strong> {{$root.retailer.email}} <a class="edit" ng-click="edit = 'email'">edit</a></li>
		<li><strong>Phone:</strong> {{$root.retailer.phone}} <i ng-hide="$root.retailer.phone">none </i><a class="edit" ng-click="edit = 'phone'">edit</a></li>
	</ul>
	<h2>Business</h2>
	<ul class="unstyled">
		<li class="image">
			<form method="POST" action="../php/retailers.php" enctype="multipart/form-data">
				<strong>Profile Picture</strong>
				<img src="../img/retailers/{{$root.retailer.image}}" alt="" />
				<p>Image must not include any nudity or foul language. Image must be relevant to your business. Images may be removed at the discretion of KitePaint administration.</p>
				<p>Images may be .png, .jpg, .jpeg, or .gif format. Images must be smaller than 500KB. Square images work best.</p>
				<input type="file" name="image" accept="image/*" />
				<input type="hidden" name="id" value="{{$root.retailer.id}}">
				<input type="hidden" name="upload" value="true">
				<button class="button action">Upload</button>
				<div class="clearfix"></div>
			</form>
		</li>
		<li><strong>Business Name:</strong> {{$root.retailer.name}} <a class="edit" ng-click="edit = 'business'">edit</a></li>
		<li><strong>Location:</strong> {{$root.retailer.city}}, {{$root.retailer.state}} <a class="edit" ng-click="edit = 'location'">edit</a></li>
		<li><strong>Website: </strong> <a target="_blank" href="{{$root.retailer.url}}">{{$root.retailer.url}}</a> <a class="edit" ng-click="edit = 'website'">edit</a><br/>
		<i>Website is required in order to use embedded editors</i></li>
		<li><strong></strong></li>
	</ul>
	<h2>Products</h2>
	<h3>Product URLs</h3>
	<p>Add product urls to specific product pages on your website. These links will appear in the retailers dropdown in the editor.</p>
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th>Url</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products" class="product-{{product.id}}">
				<td>{{manufacturers[product.id]}} {{product.name}}</td>
				<td><span ng-show="$root.retailer.product_urls[product.id]">{{$root.retailer.product_urls[product.id]}}</span><span ng-hide="$root.retailer.product_urls[product.id]"><i>none</i></span></td>
				<td><a class="edit" ng-click="edit_product_url(product.id)">edit</a></td>
			</tr>
		</tbody>
	</table>
	<h3>Product Opt-Out</h3>
	<p>Opt out of products that you do not sell. This will remove your business from the list of retailers for products that you opt out on.</p>
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th>Opt-out</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products" class="product-{{product.id}}">
				<td>{{manufacturers[product.id]}} {{product.name}}</td>
				<td><input type="checkbox" ng-model="$root.retailer.product_opt_out[product.id]" ng-change="change.opt_out(product.id, $root.retailer.product_opt_out[product.id])" /></td>
			</tr>
		</tbody>
	</table>
</div>
<form class="lightbox password" ng-show="edit === 'password'" ng-submit="change.password()">
	<div class="content">
		<a ng-click="edit = ''" class="close">Cancel</a>
		<label for="input-old-password" >Old Password</label>
		<input type="password"
			id="input-old-password" 
			ng-model="edit_variables.old_password" 
			required
			ng-minlength="6"
			ng-maxlength="15"
			ng-pattern="/[A-Za-z0-9@*#.]/"/>
		<label for="input-password" >New Password <tooltip content="password"></tooltip></label>
		<input type="password" 
			id="input-password" 
			ng-model="edit_variables.password" 
			required
			ng-minlength="6"
			ng-maxlength="15"
			ng-pattern="/[A-Za-z0-9@*#.]/"/>
		<label for="input-confirm-password">Confirm New Password</label>
		<input type="password" 
			id="input-confirm-password" 
			ng-model="edit_variables.confirm_password" 
			required 
			ng-minlength="6"
			ng-maxlength="15"
			ng-pattern="/[A-Za-z0-9@*#.]/"/>
		<button type="submit"class="button action">Save</button>
	</div>
</form>
<form class="lightbox name" ng-show="edit === 'name'" ng-submit="change.contact_name()">
	<div class="content">
		<a ng-click="edit = ''" class="close">Cancel</a>
		<div class="half left">
			<label for="input-first-name">First Name</label>
			<input type="text" id="input-first-name" ng-model="edit_variables.first_name" required/>
		</div>
		<div class="half left">
			<label for="input-last-name">Last Name</label>
			<input type="text" id="input-last-name" ng-model="edit_variables.last_name" required/>
		</div>
		<div class="clearfix"></div>
		<button type="submit"class="button action">Save</button>
	</div>
</form>
<form class="lightbox email" ng-show="edit === 'email'" ng-submit="change.email()">
	<div class="content">
		<a ng-click="edit = ''" class="close">Cancel</a>
		<label for="input-email-password" >Password</label>
		<input type="password" id="input-email-password" ng-model="edit_variables.email_password" required />
		<label for="input-email">Email</label>
		<input type="email" id="input-email" ng-model="edit_variables.email" placeholder="e.g. iflykites@email.com" required />
		<button type="submit"class="button action">Save</button>
	</div>
</form>
<form class="lightbox phone" ng-show="edit === 'phone'" ng-submit="change.phone()">
	<div class="content">
		<a ng-click="edit = ''" class="close">Cancel</a>
		<label for="input-phone">Phone</label>
		<input type="tel" id="input-phone" ng-model="edit_variables.phone" ng-pattern="/^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$/" placeholder="e.g. 123-456-7890" />
		<button type="submit"class="button action">Save</button>
	</div>
</form>
<form class="lightbox business" ng-show="edit === 'business'" ng-submit="change.name()">
	<div class="content">
		<a ng-click="edit = ''" class="close">Cancel</a>
		<label for="input-name">Business Name</label>
		<input type="text" id="input-name" ng-model="edit_variables.name" required ng-maxlength="30" />
		<button type="submit"class="button action">Save</button>
	</div>
</form>
<form class="lightbox location" ng-show="edit === 'location'" ng-submit="change.location()">
	<div class="content">
		<a ng-click="edit = ''" class="close">Cancel</a>
		<div class="half left">
		<label for="input-city">City</label>
		<input type="text" id="input-city" ng-model="edit_variables.city" required />
		</div>
		<div class="half left">
		<label for="input-state">State</label>
		<select id="input-state" state-options ng-model="edit_variables.state" required></select>
		</div>
		<div class="clearfix"></div>
		<button type="submit"class="button action">Save</button>
	</div>
</form>
<form class="lightbox website" ng-show="edit === 'website'" ng-submit="change.url()">
	<div class="content">
		<a ng-click="edit = ''" class="close">Cancel</a>
		<label for="input-url">Url</label>
		<input type="url" id="input-url" ng-model="edit_variables.url" required placeholder="e.g. http://example.com" />
		<button type="submit"class="button action">Save</button>
	</div>
</form>
<form class="lightbox product-url" ng-show="edit === 'product_url'" ng-submit="change.product_url()">
	<div class="content">
		<a ng-click="edit = ''; edit_product_url = '';" class="close">Cancel</a>
		<label for="input-product-url">Url</label>
		<input type="url" id="input-product-url" ng-model="edit_variables.product_url.url" required placeholder="e.g. http://example.com/product" />
		<button type="submit"class="button action">Save</button>
	</div>
</form>