<h1>Embed Codes</h1>
<p class="error" ng-hide="$root.retailer.url">In order to use embed codes, please add your website to your <a ui-sref="account">account settings</a>.</p>
<p>Embed codes can be placed on your website to create a KitePaint product editor. Select a product, choose your sizing preference, then copy and paste the code provided into the page where you want the editor to appear.<br/><br/>Note that these embed codes will only work on the website set in your <a ui-sref="account">account settings.</a></p>
<div id="controls">
	<div class="row">
		<div class="item">
			<label for="select-products">Select a product:</label>
			<select id="select-products" ng-model="product">
				<option value="">Select One</option>
				<option ng-repeat="product in products" value="{{product.id}}">{{manufacturers[product.id]}} {{product.name}}</option>
			</select>
		</div>
		<div class="item">
			<label for="select-size">Size</label>
			<select id="select-size" ng-model="custom_size">
				<option value="">Auto</option>
				<option value="custom">Custom</option>
			</select>
		</div>

	</div>
	<div class="row" ng-show="custom_size">
		<div class="item">
			<label for="input-width">Width (px)</label>
			<input type="number" id="input-width" ng-model="custom.width"/>
		</div>
		<div class="item">
			<label for="input-height">Height (px)</label>
			<input type="number" id="input-height" ng-model="custom.height" />
		</div>
	</div>
</div>
<h2>Embed Code:</h2>
<textarea disabled ng-model="embed_code"></textarea>
<div ng-show="embed_code">
	<h2>Preview:</h2>
	<iframe width="{{iframe_width}}" height="{{iframe_height}}" src="{{embed_url}}" frameborder="0"></iframe>
</div>