<logo></logo>
<form id="login-panel" ng-show="screen === 'login'" ng-submit="login()">
	<label for="input-username">Username</label>
	<input type="text" id="input-username" ng-model="username" required />
	<label for="input-password">Password</label>
	<input type="password" id="input-password" ng-model="password" required />
	<a ng-click="screen = 'password'">Forgot password</a>
	<button class="button action">Login</button>
</form>
<form id="reset-password" ng-show="screen === 'password'" ng-submit="reset()">
	<label for="input-rp-username">Username</label>
	<input type="text" id="input-rp-username" ng-model="rp_username" required>
	<label for="input-rp-email">Email Address</label>
	<input type="email" id="input-rp-email" placeholder="e.g. iforgotmypassword@email.net" ng-model="rp_email" required />
	<a ng-click="screen = 'username'">I forgot my username too.</a>
	<a ng-click="screen = 'login'">Nevermind, I remembered it.</a>
	<button class="button action">Reset Password</button>
</form>
<form id="get-username" ng-show="screen === 'username'" ng-submit="get_username()">
	<label for="input-gu-email">Email Address</label>
	<input type="email" id="input-gu-email" placeholder="e.g. iforgotmyusername@email.net" ng-model="gu_email" required />
	<a ng-click="screen = 'login'">Nevermind, I remembered it.</a>
	<button class="button action">Retrieve Username</button>
</form>