<h1>Recent Orders Sent to {{$root.retailer.name}}</h1>

<div id="search">
	<select ng-model="search_by" ng-change="search_orders()">
		<option value="created">Date</option>
		<option value="product">Product</option>
		<option value="user">User</option>
		<option value="email">Email</option>
		<option value="name">Design Name</option>
	</select>
	<input ng-model="search" type="text" placeholder="search" ng-change="search_orders()" />
</div>

<table ng-show="orders">
	<thead>
		<tr>
			<th ng-class="{descend: sort_by === 'created' && sort_direction === 'descending', ascend: sort_by === 'created' && sort_direction === 'ascending'}" ng-click="sort('created')">Date</th>
			<th ng-class="{descend: sort_by === 'product' && sort_direction === 'descending', ascend: sort_by === 'product' && sort_direction === 'ascending'}" ng-click="sort('product')">Product</th>
			<th ng-class="{descend: sort_by === 'user' && sort_direction === 'descending', ascend: sort_by === 'user' && sort_direction === 'ascending'}" ng-click="sort('user')">User</th>
			<th ng-class="{descend: sort_by === 'email' && sort_direction === 'descending', ascend: sort_by === 'email' && sort_direction === 'ascending'}" ng-click="sort('email')">Email</th>
			<th ng-class="{descend: sort_by === 'name' && sort_direction === 'descending', ascend: sort_by === 'name' && sort_direction === 'ascending'}" ng-click="sort('name')">Design Name</th>
			<th>Designs</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="order in orders">
			<td>{{order.created}}</td>
			<td>{{order.product}}</td>
			<td>{{order.first_name}} {{order.last_name}} ({{order.user.username}})</td>
			<td><a href="mailto:{{order.email}}">{{order.email}}</a></td>
			<td>{{order.name}}</td>
			<td class="designs"><div class="design" ng-repeat="design in order.designs" ng-bind-html="design.svg" title="{{design.name}} | Click to see full size image" ng-click="show_image(design)"></div></td>
			<td><a ng-click="view.message = order.message" ng-show="order.message">View</a></td>
		</tr>
	</tbody>
</table>
<p ng-show="!orders.length">No orders match your search.</p>
<button ng-show="all_orders.length > orders.length" class="button action show-more" ng-click="show = show + 25; display();">Show More</button>

<canvas id="canvas" class='hidden' width="1000px" height="600px"></canvas> 

<div class="lightbox design-image" ng-show="design_image">
	<div class="content">
		<a ng-click="design_image = ''" class="close">Cancel</a>
		<p>Right click on image to save</p>
		<img src="{{design_image}}" />
	</div>
</div>


<div class="lightbox design-image" ng-show="view.message">
	<div class="content">
		<a ng-click="view.message = ''" class="close">Cancel</a>
		<p>This message was sent from the user:</p>
		<p>{{view.message}}</p>
	</div>
</div>