/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* General */
/* line 4, ../../scss/layout/style.scss */
* {
  margin: 0;
  padding: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 9, ../../scss/layout/style.scss */
*[ng-click] {
  cursor: pointer;
}

/* line 13, ../../scss/layout/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: -10px;
}

/* line 18, ../../scss/layout/style.scss */
svg {
  width: 100%;
  height: 100%;
}

/* line 23, ../../scss/layout/style.scss */
h1 {
  font-size: 28px;
  color: #444;
  font-weight: normal;
}

/* line 28, ../../scss/layout/style.scss */
h2 {
  font-size: 24px;
  margin: 10px 0 5px;
  color: #444;
  font-weight: normal;
}

/* line 34, ../../scss/layout/style.scss */
h3 {
  font-size: 20px;
  color: #444;
  font-weight: normal;
}

/* line 39, ../../scss/layout/style.scss */
h4 {
  font-weight: bold;
  font-size: 16px;
  color: #444;
}

/* line 44, ../../scss/layout/style.scss */
a {
  color: #485BE7;
  text-decoration: none;
  cursor: pointer;
}

/* line 49, ../../scss/layout/style.scss */
button {
  cursor: pointer;
}

/* line 52, ../../scss/layout/style.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], textarea {
  background: #fff;
  border: 1px solid #cdcdcd;
  padding: 10px;
  font-size: 16px;
  color: #444;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 62, ../../scss/layout/style.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 65, ../../scss/layout/style.scss */
input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  border: 2px solid #cdcdcd;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

/* line 77, ../../scss/layout/style.scss */
input[type="checkbox"]:checked {
  background: #485BE7;
}

/* line 80, ../../scss/layout/style.scss */
table {
  border-collapse: collapse;
}

/* line 83, ../../scss/layout/style.scss */
th, td {
  padding: 10px;
}

/* line 86, ../../scss/layout/style.scss */
tr {
  border-bottom: 1px solid #cdcdcd;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

/* line 90, ../../scss/layout/style.scss */
tbody tr:hover {
  background: #f1f1f1;
}

/* line 93, ../../scss/layout/style.scss */
select {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 100, ../../scss/layout/style.scss */
i {
  color: #484848;
}

/* line 103, ../../scss/layout/style.scss */
ul.unstyled {
  margin: 0;
  list-style: none;
}

/* CLASSES */
/* line 109, ../../scss/layout/style.scss */
.clearfix {
  display: block;
  clear: both;
}

/* line 114, ../../scss/layout/style.scss */
.button {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background: #485BE7;
  color: #fff;
  font-weight: bold;
  display: block;
  -moz-transition: border-radius 0.3s;
  -o-transition: border-radius 0.3s;
  -webkit-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
}
/* line 124, ../../scss/layout/style.scss */
.button.action {
  background: #ea541e;
  font-size: 18px;
}
/* line 128, ../../scss/layout/style.scss */
.button:hover {
  border-radius: 0;
}
/* line 131, ../../scss/layout/style.scss */
.button.red {
  background: #C60005;
}

/* line 135, ../../scss/layout/style.scss */
.left {
  display: block;
  float: left;
}

/* line 139, ../../scss/layout/style.scss */
.right {
  display: block;
  float: right;
}

/* line 143, ../../scss/layout/style.scss */
.half {
  width: 50%;
}

/* line 146, ../../scss/layout/style.scss */
.center {
  margin: 0 auto;
  text-align: center;
}

/* line 150, ../../scss/layout/style.scss */
.error {
  padding: 10px;
  margin: 10px auto;
  color: #fff;
  font-weight: bold;
  background: #D70000;
  border-radius: 10px;
}

/* line 158, ../../scss/layout/style.scss */
.success {
  padding: 10px;
  margin: 10px auto;
  color: #fff;
  font-weight: bold;
  background: #00D70B;
  border-radius: 10px;
}

/* line 166, ../../scss/layout/style.scss */
input.ng-invalid.ng-dirty {
  box-shadow: 0px 0px 7px 0px #ff0000;
}

/* line 169, ../../scss/layout/style.scss */
.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  left: 0;
}
/* line 177, ../../scss/layout/style.scss */
.lightbox .content {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background: #fff;
  padding: 15px;
  max-height: 90%;
  overflow: auto;
  position: relative;
}
/* line 189, ../../scss/layout/style.scss */
.lightbox h2 {
  margin: 0 0 10px;
}
/* line 192, ../../scss/layout/style.scss */
.lightbox input, .lightbox select {
  display: block;
  margin: 5px auto 10px;
  width: 90%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 198, ../../scss/layout/style.scss */
.lightbox .button {
  margin: 5px auto 10px;
}
/* line 201, ../../scss/layout/style.scss */
.lightbox .content .half {
  width: 46%;
  padding: 2%;
}
/* line 205, ../../scss/layout/style.scss */
.lightbox .close {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* line 211, ../../scss/layout/style.scss */
.nowrap {
  white-space: nowrap;
}

/* line 214, ../../scss/layout/style.scss */
.mobile {
  display: none;
}

/* Logo */
/* line 219, ../../scss/layout/style.scss */
logo {
  display: block;
  width: 190px;
  margin: 20px auto;
  text-align: center;
}
/* line 225, ../../scss/layout/style.scss */
logo span {
  display: block;
}
/* line 228, ../../scss/layout/style.scss */
logo span:first-child {
  font-size: 30px;
  color: #485BE7;
}
/* line 232, ../../scss/layout/style.scss */
logo span:last-child {
  font-weight: bold;
  color: #ea541e;
  text-align: right;
  margin-top: -10px;
}

/* Sidebar */
/* line 242, ../../scss/layout/style.scss */
aside {
  float: left;
  width: 220px;
  background: #ededed;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  border-right: 1px solid #cdcdcd;
}
/* line 251, ../../scss/layout/style.scss */
aside ul {
  list-style: none;
}
/* line 254, ../../scss/layout/style.scss */
aside li {
  border-top: 1px solid #cdcdcd;
}
/* line 257, ../../scss/layout/style.scss */
aside li:last-child {
  border-bottom: 1px solid #cdcdcd;
}
/* line 261, ../../scss/layout/style.scss */
aside a {
  display: block;
  padding: 15px 10px;
  color: #444;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 267, ../../scss/layout/style.scss */
aside a:hover, aside a.active {
  background: #cdcdcd;
}

/* Main */
/* line 274, ../../scss/layout/style.scss */
main {
  float: left;
  margin-left: 220px;
  padding: 20px;
}

/* Footer */
/* line 281, ../../scss/layout/style.scss */
footer {
  text-align: center;
}

/* FONTS */
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/ttwNtsRpgsxVmgGGmiUOEltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/LWCjsQkB6EMdfHrEVqA1KVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/xozscpT2726on7jbcb_pAltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/59ZRklaO5bWGqF5A9baEEVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
