<div>
	<h1>Change Password</h1>
	<form class="content" action="" method="post" ng-submit="$root.change_password();">
		<div>
			<label for="oldpassword">Current Password <tooltip content="password"></tooltip></label>
			<input 
				name="oldpassword" 
				type="password" 
				id="oldpassword" 
				maxlength="15" 
				ng-model="$root.change.oldpassword"
				required
				ng-minlength="6"
				ng-maxlength="15"
				ng-pattern="/[A-Za-z0-9@*#.]/"
			/>
			<label for="password">New Password <tooltip content="password"></tooltip></label>
			<input 
				name="password" 
				type="password" 
				id="password" 
				maxlength="15" 
				ng-model="$root.change.password"
				required
				ng-minlength="6"
				ng-maxlength="15"
				ng-pattern="/[A-Za-z0-9@*#.]/"
			/>
			<label for="password2">Re-type New Password <tooltip content="password"></tooltip></label>
			<input 
				name="password2" 
				type="password" 
				id="password2" 
				maxlength="15" 
				ng-model="$root.change.password2"
				required
				ng-minlength="6"
				ng-maxlength="15"
				ng-pattern="/[A-Za-z0-9@*#.]/"
			/>
			<input type="submit" ng-hide="$root.changing_password" class="button action" value="Change Password">
			<button class="button action" ng-show="$root.changing_password">Changing Password</button>
		</div>
	</form>
</div>