<h1>Designs</h1>
<p>Browsing designs that users have made public</p>
<ul class="designs">
	<li ng-repeat="design in designs" >
		<a ui-sref="view({id:{{design.id}}})">
			<div class="design" ng-bind-html="design.primary.svg"></div>

		</a>
		<p><a ui-sref="view({id:{{design.id}}})">{{design.name}}</a></p>
		<p>by {{users[design.user].username}}</span></p>
		<span class="manufacturer" style="background-image:url({{staticDomain}}img/logos/{{manufacturers[products[design.product].manufacturer].logo}});"></span>
	</li>
	<div class="clearfix"></div>
</ul>
<button class="button center" ng-click="more_designs();" ng-show="have_more">Show More</button>
