/**
 * Styles for the loading icon
 */
/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 7, ../../scss/sections/loading.scss */
loading {
  position: fixed;
  top: 100px;
  text-align: center;
  width: 100%;
}

/* line 13, ../../scss/sections/loading.scss */
.spinner {
  margin: 50px auto 0;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
/* line 20, ../../scss/sections/loading.scss */
.spinner > div {
  background-color: #444;
  height: 100%;
  width: 6px;
  display: inline-block;
  -moz-animation: stretchdelay 1.2s infinite ease-in-out;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
/* line 27, ../../scss/sections/loading.scss */
.spinner .rect2 {
  -moz-animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
/* line 30, ../../scss/sections/loading.scss */
.spinner .rect3 {
  -moz-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
/* line 33, ../../scss/sections/loading.scss */
.spinner .rect4 {
  -moz-animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
/* line 36, ../../scss/sections/loading.scss */
.spinner .rect5 {
  -moz-animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
