/**
 * Styles for share module
 */
/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 8, ../../scss/sections/share.scss */
share .options li {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 10px;
  background: #cdcdcd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 10px 0 0;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 19, ../../scss/sections/share.scss */
share .link:hover, share .link.selected, share .email:hover, share .email.selected {
  background: #485BE7;
}
/* line 23, ../../scss/sections/share.scss */
share .facebook:hover, share .facebook.selected {
  background: #3b5998;
}
/* line 26, ../../scss/sections/share.scss */
share .twitter:hover, share .twitter.selected {
  background: #55ACEE;
}
/* line 29, ../../scss/sections/share.scss */
share label {
  text-align: center;
  margin: 15px auto;
  display: block;
}
/* line 34, ../../scss/sections/share.scss */
share input {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
/* line 40, ../../scss/sections/share.scss */
share input[type="submit"] {
  margin-top: 15px;
}
