/**
 * Styles for change password page
 */
/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 8, ../../scss/pages/changePassword.scss */
#changePassword form {
  border: 10px solid #ededed;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  margin: 15px auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #fff;
  position: relative;
}
/* line 18, ../../scss/pages/changePassword.scss */
#changePassword input, #changePassword label {
  display: block;
  margin: 0 auto;
}
/* line 22, ../../scss/pages/changePassword.scss */
#changePassword input[type="password"] {
  width: 94%;
  margin-top: 10px;
  margin-bottom: 15px;
}
/* line 27, ../../scss/pages/changePassword.scss */
#changePassword .button {
  margin: 0 auto;
}
