/**
 * Styles for about page
 */
/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 7, ../../scss/pages/about.scss */
#about img {
  margin: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
