/**
 * Styles for responsive create page
 */
/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* ~Tablet Portrait */
@media only screen and (max-width: 800px) {
  /* line 11, ../../scss/pages/create.responsive.scss */
  #create .logo {
    float: left;
    padding: 20px 0;
    margin: 0;
  }
  /* line 16, ../../scss/pages/create.responsive.scss */
  #create .details {
    float: left;
    width: 77%;
  }
  /* line 20, ../../scss/pages/create.responsive.scss */
  #create div.name {
    padding: 10px 0 0;
    top: 0;
    width: 100%;
  }
  /* line 25, ../../scss/pages/create.responsive.scss */
  #create select, #create input {
    font-size: 12px;
  }
}
/* ~Phone */
@media only screen and (max-width: 450px) {
  /* line 34, ../../scss/pages/create.responsive.scss */
  #create .details {
    margin: 0 0 0 10px;
  }
  /* line 37, ../../scss/pages/create.responsive.scss */
  #create label {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  /* line 44, ../../scss/pages/create.responsive.scss */
  #create select {
    font-size: 16px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  /* line 50, ../../scss/pages/create.responsive.scss */
  #create input {
    font-size: 16px;
    width: 92%;
    display: block;
  }
}
