/**
 * Styles for designs page
 */
/**
 * Base
 * Declare variables and mixins for frontend layout
 */
/* Colors */
/* Mixins */
/* line 7, ../../scss/pages/designs.scss */
#designs ul {
  margin: 0;
  list-style: none;
  margin-top: 15px;
}
/* line 12, ../../scss/pages/designs.scss */
#designs ul li {
  display: inline-block;
  width: 200px;
  margin: 10px;
  background: #cdcdcd;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
/* line 21, ../../scss/pages/designs.scss */
#designs ul li .design {
  padding: 10px;
  background: #fff;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 150px;
  position: relative;
}
/* line 28, ../../scss/pages/designs.scss */
#designs ul li .manufacturer {
  width: 40px;
  height: 40px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #cdcdcd;
  position: absolute;
  top: -17px;
  left: -17px;
}
