/**
 * Styles for alert directive
 */

@import "base";

alert {
	.alert {
		display: block;
		width: 250px;
		position: fixed;
		top: 50px;
		left: 50%;
		margin-left: -140px;
		padding: 15px;
		text-align: center;
		z-index: 400;

		&.ng-hide {
			position: fixed!important;
			height: auto!important;
			padding: 15px!important;
		}
	}
	.error {
		background: $light_red;
		color:$red;
		border: 1px solid $red;
	}
	.success {
		background: $light_green;
		color: $green;
		border: 1px solid $green;
	}
}